#carouselExampleIndicators img {
  height: 185px;
}

.carousel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Tablets */
@media (min-width: 768px) {
  #carouselExampleIndicators img {
    height: 360px;
  }
}

/* Laptop */
@media (min-width: 992px) {
  #carouselExampleIndicators img {
    height: 450px;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  #carouselExampleIndicators img {
    height: 480px;
  }
}

/* Large Desktops */
@media (min-width: 1600px) {
  #carouselExampleIndicators img {
    height: 630px;
  }
}







