#carouselExampleIndicators img {
  height: 220px;
}

.carousel-inner {
  width: 100%;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Tablets */
@media (min-width: 768px) {
  .carousel-inner {
    width: 100%;
  }

  .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  #carouselExampleIndicators img,
  .carousel-inner {
    height: 480px;
  }
}

/* Laptop */
@media (min-width: 992px) {
  #carouselExampleIndicators img {
    height: 480px;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  #carouselExampleIndicators img,
  . carousel-inner {
    height: 480px;
  }

  .carousel-inner {
    width: 100%;
  }

  .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

/* Large Desktops */
@media (min-width: 1600px) {
  #carouselExampleIndicators img {
    height: 630px;
  }

  .carousel-inner {
    height: 480px;
    width: 100%;
  }

  .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

}







