#flavor-categories-wrapper {
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  padding-block: 30px;
}

#flavor-categories-header {
  display: flex;
  justify-content: center;
  padding: 15px;
}

#list-group-container {
  margin-bottom: 70px;
}

.list-group-item {
  display: flex;
  justify-content: center;
}

/*Tablet*/
@media (min-width: 768px) {
  #flavor-categories-header h1 {
    font-size: 60px;
  }
}

/* Laptops */
@media (min-width: 992px) {
  #flavor-categories-wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 35px;
    margin-bottom: 245px;
  }

  #flavor-categories-header {
    justify-content: start;
    font-size: xxx-large;
  }

  #flavor-categories-body-container {
    width: 425px;
  }

  #list-group-container {
    width: 100%;
    margin-bottom: 400px;
  }

  #flavor-categories-header h1 {
    font-size: 60px;
  }

  .list-group-item {
    justify-content: start;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  #list-group-container {
    width: 600px;
  }

  #categories-quoteform-container {
    width: 470px;
  }

  #flavor-categories-header h1 {
    font-size: 60px;
  }

  .list-group-item {
    justify-content: start;
  }
}
