#flavorsCards-body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flavor-header,
.card-body {
  display: flex;
  justify-content: center;
}

.flavor-header {
  padding: 30px;
}

/*removing underline from card titles*/
.col a {
  text-decoration: none;
}

/* Laptops */
@media (min-width: 992px) {
  #flavorsCards-body-wrapper {
    flex-direction: row;
  }

  #cards-wrapper {
    display: flex;
    /*flex-flow: row wrap;*/
  }

  .flavor-header {
    font-size: xxx-large;
    flex-grow: 2;
    align-self: start;
  }
}
