#flavorsCards-body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 15px;
  padding-block: 30px;
}

.flavor-header,
.card-body {
  display: flex;
  justify-content: center;
}

.flavor-header {
  padding-bottom: 15px;
}

/*removing underline from card titles*/
.col a {
  text-decoration: none;
}

/* Laptops */
@media (min-width: 992px) {
  #flavorsCards-body-wrapper {
    flex-direction: row;
  }

  .flavor-header {
    font-size: xxx-large;
    flex-grow: 2;
    align-self: start;
  }

  #cards-body-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 400px;
  }

  #cards-wrapper {
    padding-left: 30px;
  }
}
