#flavors-cards-body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 15px;
  padding-block: 30px;
}

.flavor-header,
.card-body {
  display: flex;
  justify-content: center;
}

.flavor-header {
  padding-bottom: 15px;
}

/*removing underline from card titles*/
.col a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .flavor-header h1 {
    font-size: 60px;
  }
}

/* Laptops */
@media (min-width: 992px) {
  #flavors-cards-body-wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 35px;
  }

  .flavor-header {
    font-size: xxx-large;
    flex-grow: 2;
    align-self: start;
  }

  #cards-body-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 400px;
  }

  #cards-wrapper {
    width: 560px;
  }

  .flavor-header h1 {
    font-size: 60px;
  }

  #cards-quote-form-container {
    width: 470px;
  }
}

/*Desktops*/
@media (min-width: 1200px) {
  #cards-wrapper {
    width: 790px;
  }

  .flavor-header h1 {
    font-size: 60px;
  }

  #cards-quote-form-container {
    width: 470px;
  }
}
