#quoteForm-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-block: 30px;
  padding-inline: 15px;
}

.form-check {
  margin-bottom: 16px;
}

.custom-button,
.form-check {
  width: fit-content;
  align-self: center;
}

/* Tablets */
@media (min-width: 768px) {

}

/* Laptop */
@media (min-width: 992px) {
}

/* Desktop */
@media (min-width: 1200px) {
}

/* Large Desktops */
@media (min-width: 1600px) {
}
