#quoteForm-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-block: 30px;
  padding-inline: 15px;
  margin: 0 auto;
  width: 100%;
}

.form-check {
  margin-bottom: 16px;
}

.custom-button,
.form-check {
  width: fit-content;
  align-self: center;
}

/* Tablets */
@media (min-width: 768px) {
  #quoteForm-container {
    width: 715px;
    /*to make it clean with flavorCards component*/
    padding-inline: 0;
  }
}

/* Laptop */
@media (min-width: 992px) {
  #quoteForm-container {
    border: 1px solid gainsboro;
    width: 100%;
    margin-bottom: 23px;
    margin-right: 44px;
    padding-inline: 15px;
  }

  .comment-area {
    height: 14.75rem;
  }
}

/* Desktop */
@media (min-width: 1200px) {
}

/*!* Large Desktops *!*/
/*@media (min-width: 1600px) {*/
/*  #quoteForm-container {*/
/*    width: 650px;*/
/*    height: 1010px;*/
/*  }*/

/*  .comment-area {*/
/*    height: 41.75rem;*/
/*  }*/
/*}*/
