#home-section-wrapper {
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  padding-block: 30px;
}

#heading {
  margin-bottom: 16px;
}

/* Tablet */
@media (min-width: 768px) {
  #heading-article-container {
    padding-inline: 20px;
  }

  #article {
    padding-right: 0px;
  }
}

/* Laptops */
@media (min-width: 992px) {
  #home-section-wrapper {
    flex-direction: row;
  }

  #heading-article-container {
    display: flex;
    flex-flow: row wrap;
    align-self: start;
    flex-grow: 2;
  }

  #heading {
    align-self: flex-start;
    font-size: xxx-large;
  }

  #article {
    padding-right: 47px;
  }
}
