#home-section-wrapper {
  display: flex;
  flex-direction: column;
  padding-inline: 35px;
  padding-block: 30px;
}

#heading {
  font-size: 36px;
  padding: 15px;
}

/* Tablets */
@media (min-width: 768px) {
  #home-section-wrapper {
    flex-direction: column;
  }

  #heading {
    font-size: 55px;
  }

  #homebody-quote-container {
    width: 470px;
  }
}

/* Laptops */
@media (min-width: 992px) {
  #home-section-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  #heading-article-container {
    display: flex;
    flex-direction: column;
  }

  #heading {
    font-size: 80px;
  }

  #article {
    width: 680px;
  }

  .homebody-quote-container {
    width: 470px;
  }
}
