#home-section-wrapper {
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  padding-block: 30px;
}

#heading {
  padding: 15px;
}

/* Laptops */
@media (min-width: 992px) {
  #home-section-wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 35px;
    margin-bottom: 400px;
  }

  #heading-article-container {
    display: flex;
    flex-direction: column;
    /*align-self: start;*/
  }

  #heading {
    font-size: xxx-large;
  }

  #article {
    width: 680px;
  }
}
