/*Mobile*/
#header-logo-container {
  padding: 15px;
  justify-content: center;
}

.header-logo {
  height: 95px;
}

/*Tablets*/
@media (min-width: 768px) {
  #header-logo-container {
  padding-left: 20px;
  }
}

/*Laptops*/
@media(min-width: 1200px) {
  #header-logo-container {
    padding-left: 40px;
  }

  .header-logo {
    height: 170px;
  }
}

/*Desktops*/
@media(min-width: 1600px) {

}
